<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gigi Quotes👧 - {{ video.title }}</title>
    <link rel="icon" type="image/png" href="../static/assets/main-icon.png">
    <link rel="stylesheet" href="../static/css/styles.css?v=1.3">
    <link rel="stylesheet" href="../static/css/details.css?v=1.2">
</head>
<body>
    {% include 'navbar.html' %}
    <main>
        <div class="video-main">
            <div class="video-wrapper">
                <iframe id="player-iframe" src="https://www.youtube.com/embed/{{ video.vod_id }}?enablejsapi=1" frameborder="0"
                    allow="autoplay; encrypted-media" allowfullscreen>
                </iframe>
            </div>
        
            <div class="video-info">
                <h1>{{ video.title }}</h1>
                <h2 id="date">{{ video.upload_date }}</h2>
            </div>
        </div>
        
        <div class="quotes-sidebar">
            <div class="sidebar-header">
                <span>Transcripts</span>
                <button id="jump-to-current" class="jump-btn" title="Jump to current transcript">
                    Jump to Current
                </button>
            </div>
        
            <div class="scroll-container" id="scroll-container">
                <div id="no-transcripts-msg">
                    <p>No transcriptions available yet.</p>
                </div>
        
                <div id="transcript-content"></div>
        
                <div id="loading-spinner" class="spinner-container">
                    <div class="spinner"></div>
                    <span>Loading...</span>
                </div>
            </div>
        </div>
    </main>

    <script>
        const ALL_QUOTES = {{ quotes | tojson }};
        const VOD_ID = "{{ video.vod_id }}";
    </script>

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/details.js"></script>
</body>
</html>