<header class="top-bar">
    <div class="top-bar-content">
        <div class="top-bar-left">
            <div class="creator-group"> 
                <span><span class="desktop-text">Created by </span>Freia</span>
                <a href="https://github.com/sherman0611/GigiQuotes" target="_blank" class="social-btn">
                    <img src="../static/assets/github-icon.svg" alt="GitHub" class="icon">
                </a>
                <a href="https://x.com/freia_000" target="_blank" class="social-btn">
                    <img src="../static/assets/twitter-icon.svg" alt="Twitter" class="icon">
                </a>
                <span class="separator">|</span>
                <span><span class="desktop-text">Subscribe to </span>Gigi Murin<span class="desktop-text">!</span></span>
                <a href="https://www.youtube.com/@holoen_gigimurin" target="_blank" class="social-btn">
                    <img src="../static/assets/youtube-icon.svg" alt="YouTube" class="icon">
                </a>
            </div>
            <button onclick="toggleInfo()" class="info-btn">
                <img src="../static/assets/info-icon.svg" alt="Info" class="icon">
            </button>
        </div>
        <a href="/" class="home-button">Gigi Quotes👧</a>
        <div class="top-bar-right">
            <button onclick="scrollToTop()" class="top-bar-btn">
                <svg class="play-icon" id="up" viewBox="0 0 24 24">
                    <path d="M13 19V7.83L17.59 12.42L19 11L12 4L5 11L6.41 12.41L11 7.83V19H13Z" />
                </svg>
                Back to Top
            </button>
        </div>
    </div>
</header>

<div id="infoModal" class="modal" onclick="toggleInfo()">
    <div class="modal-content">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <h2>About Gigi Quotes</h2>
        <div class="info-content">
            <p>This is a fan-made site dedicated to Gigi Murin! You can look up video transcripts or words she had said during
                streams and capture the moments!</p>
        </div>
        <p>This is a fan project and is not affiliated with Hololive Production or COVER Corporation. All rights belong to their
        respective owners.</p>
    </div>
</div>

<div id="shareModal" class="modal">
    <div class="modal-content">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <h2>Share Quote</h2>
        <a id="twitterShareBtn" href="#" target="_blank" class="twitter-btn">
            Share on Twitter (X)
        </a>

        <div class="link-container">
            <input type="text" id="shareLinkInput" readonly>
            <button id="modalCopyBtn" onclick="copyFromModal()">Copy</button>
        </div>
    </div>
</div>