<header class="top-bar">
    <div class="top-bar-content">
        <div class="creator-group">
            <span>Created by Freia</span>
            <a href="https://github.com/sherman0611/GigiQuotes" target="_blank" class="social-btn">
                <img src="../static/assets/github-icon.svg" alt="GitHub" class="icon">
            </a>
            <a href="https://x.com/freia_000" target="_blank" class="social-btn">
                <img src="../static/assets/twitter-icon.svg" alt="Twitter" class="icon">
            </a>
            <span>|</span>
            <span>Subscribe to Gigi Murin!</span>
            <a href="https://www.youtube.com/@holoen_gigimurin" target="_blank" class="social-btn">
                <img src="../static/assets/youtube-icon.svg" alt="YouTube" class="icon">
            </a>
        </div>
        <a href="/" class="home-button">Gigi Quotes👧</a>
        <div class="top-bar-btn-group">
            <button onclick="scrollToTop()" class="top-bar-btn">
                ↑ Back to Top
            </button>
            <!-- <button onclick="" class="top-bar-btn" id="theme">
                Dark Mode
            </button>
            <button onclick="" class="top-bar-btn" id="changelog">
                Changelog
            </button> -->
        </div>
    </div>
</header>